@import './color-elements.scss';


$palette-others: (

    light: (
        google__bg: hsl($h-basic,$s-basic,100%),
        google__font: hsl($h-basic,$s-basic,45%),
        github__bg: hsl($h-basic,$s-basic,25%),
        github__font: hsl($h-basic,$s-basic,100%)
    ),

    dark: (
        google__bg: hsl($h-basic,$s-basic,100%),
        google__font: hsl($h-basic,$s-basic,45%),
        github__bg: hsl($h-basic,$s-basic,25%),
        github__font: hsl($h-basic,$s-basic,100%)
    )
);
