@import 'styles/every.scss';


.root {
    @include linear-gradient-each-theme(background, to bottom, 
        (20%, 100%),
        (body, basic__0)
    );

    height: 100vh;
}

form {

    width: $device-xs__min-width; 
    height: auto;
  
    margin-top: $main__margin-top;  

}



.title-page {
  width: 100%;
  height: 50px;
  
  font-size: 1.6rem;
  font-weight: bold;
  @include color-each-theme( color, basic__7);
}


.input-identity
, .input-password
{

    width: 100%;
    height: auto;

    align-items: flex-start;
  
    &:nth-child(n+2) {
        margin-top: 10px;
    }


    & > label {
        width: auto;
        height: 24px;

        font-size: 0.9rem;
        // @include color-each-theme(color, front__basic__weak);
        
        left: 5px;
        font-weight: normal;
    }

    &:focus-within > label {
        @include color-each-theme(color, main__5);
    }


    & > input {
        width: 100%;
        height: 48px;
        
        border-radius: 4px;
        padding-left: 8px;
        
        // @include frame-each-theme(border, 2px, solid, page--log-in--input__border-color);

        &:focus {

            &::placeholder {
                color:transparent;
            }
            border-radius: 4px;
    
        }
    }


    & > div:nth-child(3) {
        width: auto;
        height: auto;

        font-size: 0.9rem;
        @include color-each-theme(color, error__5);
        padding: 4px 0 0 4px;
    }
  
}



.collection-link {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  
    width: 100%; 
    height: 40px;
  
    & > div {
        width: auto;
    }
    
    & > * {
        margin-left: 10px;
        & > a {
            font-size: 1.1rem;
        }
    }
}

.button-enter {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    margin: 30px 0px 0px 0px; /* top right bottom left */
    padding: 0px 0px 0px 0px; /* top right bottom left */
  
    & > button {
    
        @include color-each-theme(background-color, main__5);
        @include color-each-theme(color, basic__0);
  
        width: 100%;
        height: 44px;
        
        font-weight: normal;
        border-radius: 4px;
        font-size: 1.2rem;
    }
  
}

.division {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 60px;
    $width__center-division: 40px;

    & > *:nth-child(1), & > *:nth-child(3) {
        width: calc(50% - #{$width__center-division/2});
        height: 2px;
        @include color-each-theme(background-color, basic__2 );
    }
    & > *:nth-child(2) {
        width: $width__center-division;
    }
}

.collection-social {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 10px 0px 0px 0px; /* top right bottom left */
    padding: 0px 0px 0px 0px; /* top right bottom left */
  

    & > button {
    
        width: 100%;

        $height__button-social: 40px;
        height: $height__button-social;
        
        font-weight: normal;
        border-radius: 4px;
        font-size: 1rem;

        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    
    &:nth-child(2){
        margin-top: 8px;
    } 

    &[value='google'] {
        @include color-each-theme(background-color, google__bg);
        @include color-each-theme(color, google__font);

        .icon {
            @include color-each-theme(background-color, google__white);
            width: calc(#{$height__button-social} - 8px);
            height: calc(#{$height__button-social} - 8px);
            border-radius: 4px;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            img {
                width: 23px;
                height: 23px;
            }
            margin-right: 12px;
        }
    }
    &[value='github'] {
        @include color-each-theme(background-color, github__bg);
        @include color-each-theme(color, github__font);
        
        .icon {
            width: 23px;
            height: 23px;
            margin-right: 12px;
        }
    }
  }
  
}