@import 'styles/every.scss';


div {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
    background-color: transparent;
    color: inherit;
    //@include color-body-each-theme(color, basic__5);

    width: 100%;    /* to reduce mistakes */
    height: auto; 

    box-sizing: border-box;

    font-size: 1rem;
    
    position: relative;
    z-index: inherit;

    line-height: normal;  // 'normal' means based on font and browser
    overflow: visible;

    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 


}

