@import 'styles/every.scss';

header {
    display: block;
    width: 100%; min-width: $device-xs__min-width;
}

main {
    display: block;
    width: 100%; min-width: $device-xs__min-width;
}

footer {
    display: block;
    width: 100%; min-width: $device-xs__min-width;
}