@import 'styles/every.scss';

span {
    display: inline-flex;
    width: auto;
    height: auto;
}

p { 

    display: block;    // setting this for block   not works by browser
    width: auto;
    height: auto;

    padding: 4px;
    
    margin: 1rem 0 1rem 0;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline-style: none;
        @include shadow-each-theme(box-shadow, 0, 0, 0, 2px, basic__6, $is-module: false); 
    }
}



img {
  border-style: none;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}


/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
strong {
  font-weight: bolder;
}
