@import 'styles/every.scss';


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

// in react app, body > div#id > header, main, ...
body {
    display: block;

    @include color-body-each-theme(background-color, body);
    @include color-body-each-theme(color, basic__5);

    width: 100%; min-width: $device-xs__min-width;
    height: auto; 

    box-sizing: border-box;

    position: relative;
    
    margin: 0px; 
    padding: 0px; 
}

