
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
strong {
  font-weight: bolder;
}



/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}



/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}



/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}




/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
select {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
select { /* 1 */
  text-transform: none;
}



/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}