@import 'styles/every.scss';





table {
    border-collapse: collapse;
    display: table;

    table-layout: fixed;
    width: 100%;  min-width: $device-xs__min-width; max-width: $device-m__min-width;
}



// colgroup 는 잔문제가 많아서 사용하지 않기로 결정

thead {
    width: 100%;
    display: table-header-group;
    @include frame-each-theme(border-bottom, 2px, solid, basic__2);
}

tbody {
    width: 100%;
    display: table-row-group; 
    tr {
        &:nth-child(n+2) {
            @include frame-each-theme(border-top, 2px, solid, basic__2);
        } 
    }
}


// columns

th, td {
    display: table-cell;
}


// rows
tr { 
    display: table-row;
    width: 100%;
}