@import 'styles/every.scss';

.root {

    width: 100%;  min-width: $device-xs__min-width; max-width: $device-m__min-width;

    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        @include color-each-theme(color, basic__6);
    }

    .sorting {
        width: auto;

        align-self: flex-end;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-end;


        .active, .others {
            width: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            &:nth-child(n+2){
                margin-top: 6px;
            }
        }

    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        display: table;

        width: 100%;  

        .row {   
            // sharing styles with tr in thead and tr in tbody
            // rank, logo, points, result, goals
            grid-template-columns: 30px 50px 50px 1fr 1fr;

            @media (min-width: $device-m__min-width){
                grid-template-columns: 30px 1fr 50px 1fr 1fr;
            }
        }
        // colgroup 는 잔문제가 많아서 사용하지 않기로 결정

        thead {
            width: 100%;
            display: table-header-group;
            @include frame-each-theme(border-bottom, 2px, solid, basic__2);

            
            // rows
            tr { 
                display: grid;
                grid-template-rows: 30px;

                width: 100%;

                th {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    & > * {
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                    }
                    & > *:nth-child(1){
                        display: inline-flex;
                        @media (min-width: $device-m__min-width){
                            display: none;
                        }
                    }
                    & > *:nth-child(2){
                        display: none;
                        @media (min-width: $device-m__min-width){
                            display: inline-flex;
                        }
                    }
                }
            }
        }

        tbody {
            width: 100%;
            display: table-row-group; 
            
        }



    }
}
