@import 'styles/every.scss';


.root {

    display: none;

    &:global(.is-open) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    @media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
        // top: $nav-2--bar__height;
        display: none;

        &:global(.is-open) {
            display: none;
        }
	}
}


.root > ul {
    width: calc(100% - 20px);
    height: 100%;
    
    list-style-type: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    & > li {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        width: 100%;

        position: relative;

        button {
            width: 100%;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center; 

        }

        button[aria-expanded='true'] + ul{

            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center; 
        }

        
        ul[role='menu'] {
            width: 100%;
            height: auto;
            padding: 1rem 1rem 1rem 1rem;
            
            display: none;
            
            list-style-type: none;

            border-radius: 4px;

            li {
                width: 100%;

                a {
                    width: 100%;
                    padding: 2px 6px 2px 6px;
                    display: inline-block;
                }
            }
        }
    }
}