@import 'styles/every.scss';


.root {
    display: flex;
    margin-left: 20px;

    height: $header__height;

} 


.root > ul {
    width: auto;
    height: 100%;
    
    list-style-type: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    & > li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        height: 100%;

        position: relative;

        button {
            width: auto;
            height: calc(100% - 20px);

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center; 

        }

        button[aria-expanded='true'] + ul{

            display: flex;
        }

        
        ul[role='menu'] {
            width: 180px;
            height: auto;
            padding: 1rem 1rem 1rem 1rem;
            
            display: none;
            
            list-style-type: none;

            @include color-each-theme(background-color, basic__0);

            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, 0%);

            border-radius: 4px;
            @include frame-each-theme(border, 1px, solid, basic__1);

            li {
                width: 100%;
                a {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }
}


