@import 'styles/every.scss';

.root {

    @include color-each-theme(background-color, basic__0);

    display: none;
    &:global(.showing----true) {
        display: block;
    }

    width: 100%; min-width: $device-xs__min-width; 
    height: auto; min-height: 120px;

    position: static;
    // z-index: 200;
    // left: 50%;
    // transform: translateX(-50%);

    margin: 0 0 0 0; /* top right bottom left */
    padding: 50px 50px 50px 50px; /* top right bottom left */
      
    
    & > * {
        display: inline-block;

        width: auto;
        margin: auto;

        margin-left: auto;
        margin-right: auto;
    }
       
}

