@import 'styles/every.scss';

.root {

    visibility: hidden;
    &:global(.showing){
        visibility: visible;
    }
    width: 100%; min-width: $device-xs__min-width; 

    position: absolute;
    z-index: 200;
    left: 0px;

    @include color-each-theme(background-color, basic__0);
    @include frame-each-theme(border-bottom, 1px, solid, basic__1);


}



.bar {
    width: 100%; min-width: $device-xs__min-width; 
    height: $header__height;   /* we should let 'Content' know this value too */ 

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px 0 20px;


    .left {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        &:global(.on-big-devices){
            display: none;
        }
        @media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
            display: none;
            &:global(.on-big-devices){
                display: flex;
            }
        }

        width: auto;

        .icon__three-bars{
            width: 24px;
            height: 24px;
        }
        .icon__x{
            width: 24px;
            height: 24px;
        }


        .logo {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            margin-right: 10px;

            & > * {
                width: auto;
            }
            .icon__logo{
                width: 32px;
                height: 32px;
                @include color-each-theme(color, main__5);
            }
            .name {
                font-size: 1.2rem;
                font-weight: bold;
                @include color-each-theme(color, basic__7);
                margin-left: 10px;
            }
        }

    }

    .right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        width: auto;

        :global(.on-big-devices){
            display: none;
        }
        @media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
            :global(.on-big-devices){
                display: flex;
            }
        }

        & > *:nth-child(n+2) {
            margin-left: 10px;
        }
        
        button {
            width: 36px;
            height: 36px;
            padding: 0;

            .photo__profile {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .icon__user-circle {
                width: 28px;
                height: 28px;
                @include color-each-theme(color, basic__5);
            }

            .icon__setting {
                width: 24px;
                height: 24px;
                @include color-each-theme(color, basic__5);
            }

        }

        
    }
}
