@import 'styles/every.scss';

.root {
    //border-top-width: 0;

    &:nth-child(n+2) {
        @include frame-each-theme(border-top, 1px, solid, basic__2);
    } 
    
}



// rows
tr { 
    display: grid;
    // grid-template-columns: 30px 1fr 1fr 1fr 1fr;  applies styles in LeagueStanding.module.scss
    grid-template-rows: 40px;
}

td {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 40px;

    &.position{
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &.team{

        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        @media (min-width: $device-m__min-width){
            justify-content: flex-start;
        }

        height:100%;
        line-height: 1.1em;

        & > *:nth-child(n+2){
            margin-left: 6px;
        }

        .logo {
            width: 32px;
            height: 32px;
            margin: 4px;
        }
        .name {
            display: none;
            @include color-each-theme(color, basic__6);
            @media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
                display: inline;
            }
        }
        
    }

    &.points{
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        font-size: 1.1rem;
        font-weight: normal;
    }

    &.games{
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        font-size: 1.1rem;
        font-weight: normal;
    }

    &.result{

        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        //$width__text: 60px;

        .text {

            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            // font-weight: bold;
            span {
                width: 26px;

                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                &:nth-child(n+2){
                    @include frame-each-theme(border-left, 1px, solid, basic__3);
                }
            }

            .won {
                @include color-each-theme(color, success__5);
            }
            .draw {
                @include color-each-theme(color, basic__5);
            }
            .lost {
                @include color-each-theme(color, error__5);
            }
        }
        .graph {
            // width: calc(100% - #{$width__text});
            width : calc(100% - 20px);
            margin: auto;

            display: inline-flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;

            .won, .draw, .lost {
                height: 4px;
                &:nth-child(n+2){
                    margin-top: 2px;
                }
            }
            .won {
                @include color-each-theme(background-color, success__4);
            }
            .draw {
                @include color-each-theme(background-color, basic__4);
            }
            .lost {
                @include color-each-theme(background-color, error__4);
            }
        }

    }



    &.goals{

        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        //$width__text: 60px;

        .text {

            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            span:nth-child(n+2){
                margin-left: 5px;
            }

            .plus-goals {
                @include color-each-theme(color, success__5);
            }
            .minus-goals {
                @include color-each-theme(color, error__5);
            }

        }
        

        .graph {
            // width: calc(100% - #{$width__text});
            width : calc(100% - 20px);
            margin: auto;

            display: inline-flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;

            .scored, .against {
                height: 4px;
                &:nth-child(n+2){
                    margin-top: 2px;
                }
            }
            .scored {
                @include color-each-theme(background-color, success__4);
            }
            .against {
                @include color-each-theme(background-color, error__4);
            }
        }

    }
}



:global(.reward----champions){
    & {
        @include color-each-theme(background-color, success__1, 0.2);
    }

    .position {
        @include color-each-theme(background-color, success__1);
        @include color-each-theme(color, success__6);
        font-weight: bold;
    }
}
:global(.reward----europa){
    & {
        @include color-each-theme(background-color, hint__1, 0.2);
    }
   .position {
        @include color-each-theme(background-color, hint__1);
        @include color-each-theme(color, hint__6);
        font-weight: bold;
    } 
}
:global(.reward----relegation){
    & {
        @include color-each-theme(background-color, error__1, 0.2);
    }
    .position {
        @include color-each-theme(background-color, error__1);
        @include color-each-theme(color, error__6);
        font-weight: bold;
    }
}