@import 'styles/every.scss';

/*
    <div className={`container__input-file`} > 

        <input type="file" accept="image/*" id='file-photo' 
            onChange={onChange_InputFile} 
            onClick={onClick_InputFile}
        />

        <label htmlFor='file-photo' > Upload Photo </label>

        { urlPhotoLocal && <button onClick={onClick_ClearInputFile}> Clear </button> }

    </div> 
*/


/*
    input {
        font-family: inherit; // Change the font styles in all browsers 
        font-size: 100%; // Change the font styles in all browsers 
        line-height: 1.15; // Change the font styles in all browsers 
        margin: 0; // Remove the margin in Firefox and Safari 
        overflow: visible;  //  Show the overflow in Edge/IE. 
    }

    [type="checkbox"] {
        box-sizing: border-box; // Add the correct box sizing in IE 10.
        padding: 0; // Remove the padding in IE 10.
    }
*/


.container__input-checkbox {
    
    width: 100%;
    height: 30px;

    input[type=checkbox] {

        display: none;

        &:checked+label {
            & > *:nth-child(1){ // checkbox
                @include color-each-theme(background-color, main__5, $is-module: false);
                & > * { // icon
                    @include color-each-theme(color, basic__0, $is-module: false);
                }
            }
            & > *:nth-child(2){ // checkbox
                @include color-each-theme(color, main__6, $is-module: false);
                font-weight: bold;
            }
        }
    }

    label {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: auto;
        height: auto;
        font-size: 1rem;

        cursor: pointer;

        & > *:nth-child(1){   // checkbox
            width: 20px;
            height: 20px;
            border-radius: 4px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            @include color-each-theme(background-color, basic__1, $is-module: false);
            & > * { //icon
                color: transparent;
                width: 90%;
                height: 90%;
            }
        }
        & > *:nth-child(2){   // text
            width: auto;
            margin-left: 4px;
        }
    }
        
}



