@import 'styles/every.scss';


input[type=submit] {

    display:inline-block;

    @include color-each-theme(background-color, main__5, $is-module: false);
    @include color-each-theme(color, basic__0);
    
    width: 100%;
    height: auto;

    border-style: none;
    border-radius: 4px;
    box-sizing: border-box;

    font-size: 1rem;
    font-family: inherit; // Change the font styles in all browsers 
    
    position: static;
    overflow: visible; //  Show the overflow in Edge/IE. 

    cursor: pointer;

    margin: 0px 0px 0px 0px;   // Remove the margin in Firefox and Safari 
    padding: 0.7rem 1rem 0.7rem 1rem; 
    
    &:focus {
        outline-style: none;
        @include shadow-each-theme(box-shadow, 0, 0, 0, 2px, basic__7, $is-module: false);
    }
}

