
/* 
check defautl html 5 tag styles
https://html.spec.whatwg.org/multipage/rendering.html#rendering
http://www.staroceans.org/w3c/css_default_values.asp.html
*/

@import 'default/button.scss';
@import 'default/div.scss';
@import 'default/heading.scss';
@import 'default/input.scss';

@import 'default/layout.scss';
@import 'default/list.scss';
@import 'default/table.scss';


@import 'default/others.scss';

@import 'default/root.scss';
