@import 'styles/every.scss';


a {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: inherit;
    // @include color-each-theme(color, basic__5, $is-module: false);

    border-radius: 4px;

    width: auto;
    height: auto; 

    box-sizing: border-box;

    font-size: 1rem;
    
    
    position: static;

    overflow: visible;
    cursor: pointer;
    
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}


p { 
    width: auto;
    height: auto;

    padding: 4px;

    &.hint {
        @include color-each-theme(color, hint__5);
    }
}

ul, ol {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    box-sizing: border-box;
}

li {
    width: auto; max-width: 100%;
    height: auto;

    display: inline-block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;

    & > * {
        width: auto;
    }
}

