@import 'styles/every.scss';

.root {

    

    width: 100%;  min-width: $device-xs__min-width; max-width: $device-m__min-width;
    margin-bottom: 40px;


    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        @include color-each-theme(color, basic__7);
    }

    .options {
        width: auto;

        align-self: flex-end;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .sorting {
            height: 30px;

            .icon__sort {
                @include color-each-theme(color, main__5);
            }
            .icon__sort {
                width: 24px;
                height: 24px;
            }
        }
        .mode-element {
            margin-left: 10px;
            width: 30px;
            height: 30px;
            padding: 2px;

            .icon__graph, .icon__text {
                @include color-each-theme(color, main__5);
            }
            .icon__graph {
                width: 24px;
                height: 24px;
            }
            .icon__text {
                width: 22px;
                height: 22px;
            }


        }

        
    }

    table {

        margin-top: 10px;

        border-collapse: collapse;
        table-layout: fixed;
        display: table;

        width: 100%;  



        .row {   
            // sharing styles with tr in thead and tr in tbody
            // rank, logo, points, games,  result, goals
            grid-template-columns: 30px 50px 50px 30px 1fr 1fr;

            @media (min-width: $device-m__min-width){
                grid-template-columns: 30px 1fr 50px 70px 1fr 1fr;
            }
        }
        // colgroup 는 잔문제가 많아서 사용하지 않기로 결정

        thead {
            width: 100%;
            display: table-header-group;
            @include frame-each-theme(border-bottom, 2px, solid, basic__2);

            
            // rows
            tr { 
                display: grid;
                grid-template-rows: 30px;

                width: 100%;

                th {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    & > * {
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                    }
                    & > *:nth-child(1){
                        display: inline-flex;
                        @media (min-width: $device-m__min-width){
                            display: none;
                        }
                    }
                    & > *:nth-child(2){
                        display: none;
                        @media (min-width: $device-m__min-width){
                            display: inline-flex;
                        }
                    }
                }
            }

        }

        tbody {
            width: 100%;
            display: table-row-group; 
            
        }



    }
}
