// ELEMENT__PROPERTY
// big-element--small-element

$header__height: 60px;


$main__min-height: 400px;
$main__margin-top: 80px;

$modal__min-width: 200px;

// https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions
$device-xs__min-width: 320px;     
$device-s__min-width: 576px;      
$device-m__min-width: 768px;
$device-l__min-width: 992px;
$device-xl__min-width: 1200px; 

$device-xs__max-height: 440px;

